@font-face {
  font-family: "Nunito Thin";
  src: url("../src/assets/fonts/NunitoSans-Light.ttf");
}
@font-face {
  font-family: "Nunito Medium";
  src: url("../src/assets/fonts/NunitoSans-SemiBold.ttf");
}
@font-face {
  font-family: "Nunito Bold";
  src: url("../src/assets/fonts/NunitoSans-ExtraBold.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: Nunito Thin;
  .title {
    font-family: Nunito Bold;
  }
  .dark-mode-toggle-container {
    display: flex;
    align-items: center;
    font-family: Nunito Medium;
    button {
      background: none;
      border: none;
      &:hover {
        cursor: pointer;
      }
      .moon-icon {
        width: 15px;
        margin-right: 5px;
        background: none;
        border: none;
      }
    }
  }

  .content-container {
    padding: 0 10%;
    display: flex;
    justify-content: center;
    max-width: 1260px;
    flex-wrap: wrap;
    margin: 0 auto;
    .actionBox {
      margin: 40px 3%;
      display: flex;
      justify-content: space-between;
      width: 100%;
      display: flex;
      max-width: 1260px;
      flex-wrap: wrap;
      max-width: 1260px;
      flex-wrap: wrap;
    }
    .countries-list-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .country-item {
        margin: 0 30px 30px 30px;
        text-decoration: none;
        color: black;
        .country-list-item-wrapper {
          border-radius: 0 0 10px 10px;
          max-width: 250px;
          .country-detail {
            font-size: 0.8em;
            .detail-info-title {
              font-family: nunito medium;
            }
          }
          .name {
            font-family: Nunito Bold;
            font-size: 1em;
            margin: 0;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: -6px; // moze da sie to jakos naprawic ?
          }
          .detail-wrapper {
            padding-bottom: 30px;
            p {
              margin-bottom: 0;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
  .details-container {
    .go-back-button {
      margin-top: 50px;
      margin-bottom: 50px;
      background-color: #fff;
      border: none;
      width: 140px;
      height: 40px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
      border-radius: 5px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      svg {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 35px;
      }
    }
    .country-details-data-container {
      display: flex;
      align-items: center;
      img {
        width: 500px;
        height: 320px;
        margin-right: 70px;
      }
      .country-name {
        font-family: Nunito Bold;
        font-size: 1.5rem;
      }
      .inline-details-content,
      .borders {
        display: flex;
        .bold {
          font-family: Nunito Medium;
          font-size: 0.9rem;
          // margin-right: 15px;
        }
        .border-country {
          width: auto;
          height: 30px;
          background: none;
          border: none;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
          margin-right: 10px;
          font-family: Nunito Thin;
          padding: 0 15px 0 15px;
          margin-bottom: 10px;
        }
      }

      .inline-details-content div p {
        margin: 5px;
      }
    }
  }
  .dark {
    height: 100%;
    background-color: hsl(207, 26%, 17%);
    .country-container {
      color: #fff;
      background-color: hsl(209, 23%, 22%);
      border-radius: 0 0 10px 10px;
    }
    nav {
      .title,
      .dark-mode-toggle-container button {
        color: #fff;
      }
      .moon-icon {
        fill: #fff;
      }
    }
    .actionBox {
      .input-container {
        .mag-glass-icon {
          fill: #fff;
        }
        .searchInput {
          background-color: hsl(209, 23%, 22%);
          color: white;
          &::placeholder {
            color: #fff;
          }
        }
      }

      .regions-filters-container.active {
        background-color: hsl(209, 23%, 22%);

        .regionFilter {
          background-color: hsl(209, 23%, 22%);
          color: #fff;
        }
      }
    }
    .details-container {
      height: 100vh;
      nav > button {
        background-color: #2b3945;
        color: white;
      }
      .country-details-data-container {
        color: #fff;
        .border-country {
          background-color: #2b3945;
          color: white;
        }
      }
    }
  }
}
